.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #07273d;
  border-collapse: collapse;
  color: gray;
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0 1px 0;
}

.sidebar-title {
  margin-left: 25px;
  font-size: 31px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2b85fb;
}

.sidebar-menu {
  padding-top: 0;
  width: 100%;
}

.menu-section {
  width: 93%;
  margin-top: 40px;
}
.sidebar-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 13px;
  overflow: hidden;
}
.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-button {
  display: flex;
  align-items: center;
  padding: 10px 0 5px 20px;
  margin: 10px 1px 0 5px;
  width: 100%;
  color: #aaa;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #f0f0f08c;
}
.nav-button:hover {
  color: #07273d;
}
.nav-button:hover .label {
  color: #07273d;
  font-weight: 600;
}
.nav-button.active {
  background-color: #f6f6f6;
  box-shadow: white 0px 0px 13px;
}
.nav-button.active .icon {
  color: #07273d;
}
.nav-button.active .label {
  color: #07273d;
  font-weight: 600;
}

.nav-button .icon {
  margin-right: 10px;
  transition: color 0.3s ease;
}
.nav-button .label {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-button.collapsed {
  display: flex;
  width: 58px;
  height: 57px;
  flex-direction: column;
  padding: 8px 5px;
  transition: background-color 0.3s ease;
}
.nav-button.collapsed span {
  font-size: 10px;
  margin: 0;
  font-weight: 600;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border-radius: 10px;
  margin: 5px 20px;
  background-color: #dadfe2;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}
.sidebar-footer.collapsed {
  background: none;
}
.sidebar-footer .loguser {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  background: #dadfe2;
  top: -35px; 
  border-radius: 8px;
  z-index: -1; 
}
.sidebar-footer.collapsed .loguser{
  display: block;

}
.logoimg{
  width: 62px;
  margin-right: 10px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border: 3px solid #07273d;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-weight: 900;
  font-size: 14px;
  font-weight: normal;
  color: black;
}

.logout-icon {
  margin-top: 5px;
  font-size: 10px;
  color: #2b3674;
  cursor: pointer;
}
